################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Instagram/Controllers/ProfileController.cs
config.bat
node_modules
